.familyFormParent {
    display : flex;
    flex-direction: column;    
    background : #E2E5ED;
    box-sizing: border-box;
    

    height : 1000px; /* just for test */       
}

.familyFormParent h2 {
    margin-top : 5%;
    font-size: 45px;
    color : #2E3858;
    margin-left : 5%;
}

/*Form*/

.familyForm {
    border : solid black 3px;
    padding : 3%;
    background-color : #FFFFFF;
    border : dotted hsl(224, 14%, 47%) 1px;
    border-radius: 20px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin : 5%;
    font-size : 20px;        
}

.familyFormNumberInput {
    display : flex;
    justify-content : space-between;    
    margin-bottom : 3%;
}

.familyForm input {
    width : 50px; 
    background-color : #E2E5ED ;
    }


.familyFormReturn {
    text-align : right;
    color : #687189;
    font-family: 'Roboto', sans-serif;
    font-style : italic;       
}

.familyFormReturn:hover {
    opacity: 0.7;
}

.error1 {
    color : #EE5E6A;
    font-style: italic
}

/* Add queries for < 750px width */
@media screen and (min-width: 200px) and (max-width: 750px) {

    .familyFormParent h2 {

        font-size: 30px;
        text-align: center
    }

    .familyFormParent {
    font-size: 30px;      
    }

    .familyForm .question1, .question2, .question3, .radio {
        font-size : 18px;
     }
  }