.familyFormParent {
    display : flex;
    flex-direction: column;    
    background : #E2E5ED;
    box-sizing: border-box;

    height : 1000px; /* just for test */       
}

.familyFormParent h2 {
    margin-top : 5%;
    font-size: 45px;
    color : #2E3858;
    margin-left : 5%;
}

.familyFormParent p {
    font-size : 20px;

}

.familyForm {
    border : solid black 2px;
    padding : 5%;
    background-color : #FFFFFF;
    border : solid #687189 1px;
    margin : 5%;
    
    
    
}

.familyForm input {
    width : 50px;
    
    
}

.familyFormReturn {
    text-align : right;
    color : #687189;
    font-family: 'Roboto', sans-serif;    
}

.error1 {
    color : #EE5E6A;
}