.headerLogo {
    width : 200px;    
}

.headerWebsite {
    box-sizing: border-box;
}


.navbarWebsite {
    
    background-color : white;
    height : 100%;
    font-size : 15px;
    padding-top : 2%;
    padding-bottom : 2%;
    
}

.navbarWebsite p {
    
    margin-bottom : 0px;
    margin-left : 15px;
    color : #687189;
    
}

.endNavbar p {
    margin-right : 30px;
}


.navbarWebsite input {
    background-color : #EE5E6A;
    color : #F4F6FA;
    width : 10%;
    border : #EE5E6A; 
    margin-top: 0.5%;   
}

.navbarWebsite input:hover {
    opacity: 0.7; 
}



@media screen and (max-width: 1050px) {
    .headerLogo {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .navbarWebsite p {
        display : none;
    }
    
}
