.Homepage {
    box-sizing: border-box;
}

.Homepage p {
    font-size : 1.2vw;
}

.Homepage h2 {
    font-size : 2.8vw;
    margin-bottom : 0px;
}

.Homepage h3 {
    font-size : 1.5vw;    
}

.Homepage a {
    text-decoration: none;
}

/*BANNER */

.Homepage .articleDescription {  
    margin-top : 5%;  
    background-color : #f4f6fa;
    padding-top : 5%;
    padding-bottom : 5%;  
             
}

.articleVision {  
    color : #687189;      
}

.articleDescription h3 {  
    color:#2E3858;    
}

.articleDescription h2 {  
    color : #EE5E6A;
    margin : 2% 0 2% 0;  
}

.articleDescription button {  
    background-color : #EE5E6A;
    color : white;
    border : none; 
    font-size : 1.2vw;
     
}

.articleDescription input{
    font-size : 1.2vw;
    
}

/* placeholder pour le logo */

.placeholderLogo {
    height: 400px;
    width: 400px;    
    /* -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out; */
}

/* .placeholderLogo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
} */

/*Encart*/

.bannerIntro {
    margin-top : 5%;
    margin-bottom : 5%;
}

.bannerIntro h2  {
    text-align : center;
    color : #2E3858;
}

.bannerIntro h3  {
    text-align : center;
    color : #687189;
    margin-top : 2%;
    margin-bottom : 2%;
}

.bannerIntro p {
    color : #EE5E6A;
    text-align : center;
}

/*Contrat -> rappel*/

.imgHome {
    width : 80%;
    height : auto;
}

.Homepage .screen {
    padding-top : 10%;
    padding-bottom : 10%;    
}

.Homepage .desc {       
    color : #687189;    
    font-size : 1.2vw;      
}

.desc h3 {
    font-size : 2.8vw;
    color : #2E3858;
}

.desc h2 {
    font-size : 2vw;
    color : #EE5E6A;
    margin-left : 1%;  
}


/*Partie simulateur*/

.h2Simulateur {
    text-align : center;
    color : #2E3858;
    margin-top : 3%;
    margin-bottom : 3%;    
}

.Homepage .simulateur {        
    margin-bottom : 10%;
    margin-top : 9%;
}

/*Simulateur / Txt + btn*/

.simulateur h3 {
    margin : 0px;
    margin-bottom : 2%;
    font-size : 2vw;
}

.h3Title {
    text-align : center;
    margin-top : 2%;
    color : #687189;
}

.simulateurDescription {    
    color : #2E3858;
    background-color : #E2E5ED;
    padding : 5%;
    text-align : center;   
}


#simuDesc2 {
    color : #E2E5ED;
    background-color : #2E3858;   
}

.simulateurbtn {
    background-color: #EE5E6A;
    color : #FFFFFF;
    width : 150px;
    height : 50px;
    margin-top : 4%;
    border : none;
    box-shadow: 1px 8px 11px 0.5px rgba(0, 0, 255, .2);
    
}

#simulateurBtn2 {
    background-color: #F4F6FA;
    color : #2E3858;
    box-shadow: 1px 8px 11px 0.5px rgba(0, 0, 0, 0.2);
}

.Homepage .HomepageIcon {
    height : 50px;
    width : 50px;
    
}


@media screen and (max-width: 1187px) { /*break point for the banner */
    .articleMission .logo {
        display:none;
    }

    .Homepage ol {
        bottom : -20px;
    }

    .homepageTitle {
        margin-bottom : 5%;
    }
}



