.Homepage {
    box-sizing: border-box;
}

.Homepage p {
    font-size : 1rem;
}

.Homepage h2 {
    font-size : 2rem;
    margin-bottom : 0px;
}

.Homepage a {
    text-decoration: none;
}

.Homepage .articleDescription {  
    margin-top : 5%;  
    background-color : #E2E5ED;
    padding-top : 5%;
    padding-bottom : 5%;            
}

.articleVision {  
    color : #687189;      
}

.articleDescription h2 {  
    color:#2E3858;    
}

/* placeholder pour le logo */

.placeholderLogo {
    height: 400px;
    width: 400px;    
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;
}

.placeholderLogo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

/*Contrat -> rappel*/

.Homepage .screen {
    padding-top : 10%;
    padding-bottom : 10%;    
}

.Homepage .screenv2 {  /*background for the second screen*/
    background-color : #687189;       
}

.Homepage .desc {       
    color : #2E3858;    
    font-size : 20px;      
}

.Homepage .descColor { /*background for the second description */
   color : #FFFFFF;
}

.Homepage .desc h2{       
    color : #EE5E6A; 
    margin-left : 1%;           
}

#rappel {
    margin-bottom : 10%;
}



/*Partie simulateur*/


.h2Simulateur {
    text-align : center;
    font-size : 40px;
    color : #2E3858;
    margin-top : 8%;
    margin-bottom : 3%;    
}

.Homepage .simulateur {        
    margin-bottom : 10%;
    margin-top : 9%;
}

/*Simulateur / Txt + btn*/

.simulateur h3 {
    font-size : 20px;
    margin : 0px;
    margin-bottom : 2%;
}

.simulateurDescription {    
    color : #2E3858;
    background-color : #E2E5ED;
    padding : 5%;
    text-align : center;   
}


#simuDesc2 {
    color : #E2E5ED;
    background-color : #2E3858;   
}

.simulateurbtn {
    background-color: #EE5E6A;
    color : #FFFFFF;
    width : 150px;
    height : 50px;
    margin-top : 4%;
    border : none;
    box-shadow: 1px 8px 11px 0.5px rgba(0, 0, 255, .2);
}

#simulateurBtn2 {
    background-color: #F4F6FA;
    color : #2E3858;
    box-shadow: 1px 8px 11px 0.5px rgba(0, 0, 0, 0.2);
}

.Homepage .HomepageIcon {
    height : 50px;
    width : 50px;
    
}

@media screen and (max-width: 1187px) { /*break point for the banner */
    .articleMission .logo {
        display:none;
    }

    .Homepage ol {
        bottom : -20px;
    }

    .homepageTitle {
        margin-bottom : 5%;
    }
}



