.Homepage {
    box-sizing: border-box;

}

.Homepage .articleDescription {
    display: flex;
    margin: auto;
    color : black;
}

.articleVision {
    display : flex;
    flex-direction : column;
    width : 50%;
    justify-content : center;
    padding-left : 12%;
    padding-right : 5%;
    color : black;   
}

.articleMission {
    display : flex;
    flex-direction : row;
    width : 50%;
    padding-left : 2%;
    padding-right : 2%;
    margin-top: 3%;
    color : black; 
     
}

.articleDescription h2 {
    font-size : 30px;
    margin : 0px;
    margin-bottom : 1%; 
    color:#2E3858; 
}

/* placeholder pour le logo */

.articleMission.logo {
    width: 35%;

}

.logo h2 {
    margin: 15px;
}

.placeholderLogo {
    height: 25vh;
    margin: 2%;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;

}

.placeholderLogo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

}

/*Teaser*/

.Homepage .screen1, .screen2 {
    display: flex;
    flex-direction: row;
    align-items : center;
    background-color: #687189; /*just for test */
    margin-bottom : 2%; /*just for test */    
    margin-left : 5%;
    margin-right : 5%;
    
}

.Homepage .desc1, .desc2 {    
    
    border: 1px rgb(133, 129, 129);
    /*border-radius: 10px;*/
    box-shadow: 12px 12px 2px 1px rgba(93, 93, 107, 0.137);
    color : #F4F6FA;
    margin-left : 3%;
    margin-right : 3%;    
}

/*Partie simulateur*/

.Homepage .simulateur {
    
    background-color : #2E3858;
    display : flex;
    height : 400px;  /*test*/      
}

/*Simulateur / Txt + btn*/

.simulateurDescription {
    display : flex;
    flex-direction : column;
    width : 50%;
    justify-content : center;
    padding-left : 2%;
    padding-right : 2%;
    color : #FFFFFF;    
}

.simulateurDescription h2 {
    font-size : 30px;
    margin : 0px;
    margin-bottom : 1%;    
}

.Homepage .simulateurbtn {
    background-color: #687189;
    color : #FFFFFF;
    width : 200px;
    height : 50px;
    margin-top : 2%;
    border : none;
}

/*Simulateur / icons*/

.simulateurIcon {
    width : 50%;
    display : flex;
    justify-content : space-around;
    align-items : center;
    padding-left : 2%;
    padding-right : 2%;
}

.Homepage .contract {
    width: 75px;
    height: 75px;    
}

.Homepage .money2 {
    width: 75px;
    height: 75px;
}

.Homepage .calendar {
    width: 75px;
    height: 75px;
}


@media screen and (max-width: 800px) and (min-width: 550px) {

    .placeholderLogo {
        height: 20vh;
        margin: 2%;
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition:         transform .8s ease-in-out;
    
    }
    

}

@media screen and (max-width: 550px) {

    .articleMission {
        display: none
    
    }

    .articleVision {
        width: 100%;
    }
}


