.Homepage {
    box-sizing: border-box;
}

.Homepage p {
    font-size : 20px;
}

.Homepage .articleDescription {
    
    background-color : #E2E5ED;
    padding-top : 6%;
    padding-bottom : 6%;
    margin-top : 5%;
    margin-bottom : 5%;
    height : 800px;
        
}

.b {
    margin-bottom : 50px;
}

.articleVision {  
    color : #687189;   
}

.articleContent {
    height : 800px;
}

.textCarousel {
    max-width : 800px;
    max-height : 100%;
}

.articleDescription h2 {
    font-size : 40px;
    margin : 0px;
    
    color:#2E3858;
    
}

/* placeholder pour le logo */

.placeholderLogo {
    height: 400px;
    width: 400px;
    
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition:         transform .8s ease-in-out;

}

.placeholderLogo:hover {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);

}

/*Teaser*/

.h2Teaser {
    font-size : 40px;
    color : #2E3858;
    padding-left : 8%;
    padding-bottom : 0px;

}

.Homepage .screen {
    display: flex;    
    align-items : center;
    justify-content: space-around;     
    padding : 8%;
    padding-top : 5%; 
    flex-wrap: wrap;      
}

.screen2Bg {  /*background for the second screen*/
    background-color : #687189;  
    flex-wrap : wrap-reverse; 
    padding-top : 8%;
}

.Homepage .desc {       
    color : #2E3858;    
    width : 30%;
    font-size : 20px;      
}

#descColor { /*background for the second description */
   color : #FFFFFF;
}

.Homepage .desc h3{       
    color : #EE5E6A;
    font-size : 35px;             
}

#h3Color {       
    color : #000000;                 
}


/*img */

.screenshot1 {
    box-shadow: 12px 12px 8px 12px rgba(93, 93, 107, 0.137);
}

.screenshot2 {
    box-shadow: 12px 12px 8px 12px rgba(30, 30, 32, 0.137);
}



/*Partie simulateur*/


.h2Simulateur {
    text-align : center;
    font-size : 40px;
    color : #2E3858;
    margin-top : 8%;
    
}

.Homepage .simulateur {        
    display : flex;
    margin : 8%;
    margin-top : 6%;
}


/*Simulateur / Txt + btn*/


.simulateur h3 {
    font-size : 20px;
    margin : 0px;
    margin-bottom : 2%;
}

.simulateurDescription {
    display : flex;
    flex-direction : column;
    width : 50%;
    justify-content : center; /*center div height wise */
    align-items : center; /*center div width wise */
    text-align : center; /*center text */
    padding : 5%;
    color : #2E3858;
    background-color : #E2E5ED;    
}


#simuDesc2 {
    color : #E2E5ED;
    background-color : #2E3858;   

}

.simulateurbtn {
    background-color: #EE5E6A;
    color : #FFFFFF;
    width : 150px;
    height : 50px;
    margin-top : 4%;
    border : none;
    box-shadow: 1px 8px 11px 0.5px rgba(0, 0, 255, .2);
}

#simulateurBtn2 {
    background-color: #F4F6FA;
    color : #2E3858;
    box-shadow: 1px 8px 11px 0.5px rgba(0, 0, 0, 0.2);
}

.HomepageIcon {
    height : 50px;
    width : 50px;
    color : white;
}


@media screen and (max-width: 1360px) { /*for teaser blocs */
    .Homepage .desc {
        width : 70%;
        margin-top : 2%;
        margin-bottom : 2%;
        text-align : center;
    }

}

@media screen and (max-width: 1050px) { /*for simulator blocs */
    .simulateur {
        flex-direction: column;
        margin-bottom : 2%;
        align-items : center;        
    }

    .simulateurDescription {
        width : 100%;
    }

}

@media screen and (max-width: 800px) { /*Font-size behavior mainly */

    .Homepage .desc {       
        color : #2E3858;    
        width : 100%;
        font-size : 2.5vw;      
    }

    .Homepage p {
        font-size : 2.5vw;
    }

    .Homepage .desc h3{       
        font-size : 4.5vw;             
    }

    .Homepage h2 {
        font-size : 6vw;
    }

    .h2Simulateur {        
        margin-bottom : 10%; 
    }

    .simulateur h3 {
        font-size : 4.5vw; 
    }


    .simulateurbtn {
        font-size : 2.5vw;
        width : 100px;
        height : 35px;
        margin-top : 4%;
        border : none;
        box-shadow: 1px 8px 11px 0.5px rgba(0, 0, 255, .2);
    }


}


@media screen and (max-width: 800px) and (min-width: 550px) {

    .placeholderLogo {
        height: 20vh;
        margin: 2%;
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition:         transform .8s ease-in-out;
    
    }

    .articleMission {
        padding : 0px;
    
    }

}

@media screen and (max-width: 550px) {

    .articleMission {
        display: none
    
    }

    .articleVision {
        width: 100%;
    }
}


