.Homepage {
    box-sizing: border-box;
    background-color: #FFFFFF;
}


.Homepage article {
    display: flex;
    margin: auto;
    background-color: #687189;
    color : #F4F6FA;
    border: 1px rgb(133, 129, 129);
    border-radius: 10px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    flex-direction: column;
    margin: 5%;
    margin-bottom : 5%;
}

/*Teaser*/

.h2Teaser {
    font-size : 40px;
    color : #2E3858;
    padding-left : 8%;
    padding-bottom : 0px;

}



.Homepage .screen1 {
    display: flex;    
    align-items : center;
    justify-content: space-between;    
    margin-bottom : 2%; /*just for test */  
    padding : 8%;
    padding-top : 5%;       
}

.screenshot1 {
    box-shadow: 12px 12px 8px 12px rgba(93, 93, 107, 0.137);
}

.Homepage .desc1 {       
    color : #2E3858;    
    width : 30%;
    font-size : 20px;      
}

.Homepage .desc1 h3{       
    color : #EE5E6A;
    font-size : 35px;             
}

.Homepage .screen2 {
    display: flex;    
    align-items : center;
    justify-content: space-between;    
    margin-bottom : 6%; /*just for test */  
    padding : 8%;    
    background-color : #687189;   
}

.screenshot2 {
    box-shadow: 12px 12px 8px 12px rgba(30, 30, 32, 0.137);
}

.Homepage .desc2 {       
    color : #FFFFFF;    
    width : 30%;
    font-size : 20px;      
}

.Homepage .desc2 h3{       
    color : #000000; 
    font-size : 35px;            
}


/*Partie simulateur*/


.h2Simulateur {
    text-align : center;
    font-size : 40px;
    color : #2E3858;
    
}

.Homepage .simulateur {        
    display : flex;
    height : 400px;  /*test*/ 
    margin : 8%;
    margin-top : 4%;
}


/*Simulateur / Txt + btn*/


.simulateur h3 {
    font-size : 20px;
    margin : 0px;
    margin-bottom : 2%;
}

.simulateurDescription {
    display : flex;
    flex-direction : column;
    width : 50%;
    justify-content : center; /*center div height wise */
    align-items : center; /*center div width wise */
    text-align : center; /*center text */
    padding-left : 2%;
    padding-right : 2%;
    color : #2E3858;
    background-color : #E2E5ED;    
}


.simulateur .simulateurbtn1 {
    background-color: #EE5E6A;
    color : #FFFFFF;
    width : 150px;
    height : 50px;
    margin-top : 4%;
    border : none;
    box-shadow: 1px 8px 11px 0.5px rgba(0, 0, 255, .2);
}

.simulateurDescription2 {
    display : flex;
    flex-direction : column;
    width : 50%;
    justify-content : center; /*center div height wise */
    align-items : center; /*center div width wise */
    text-align : center; /*center text */
    padding-left : 2%;
    padding-right : 2%;
    color : #E2E5ED;
    background-color : #2E3858;    
}

.simulateur .simulateurbtn2 {
    background-color: #F4F6FA;
    color : #2E3858;
    width : 150px;
    height : 50px;
    margin-top : 4%;
    border : none;
    box-shadow: 1px 8px 11px 0.5px rgba(0, 0, 0, 0.2);
}


/*Simulateur / icons*/

.simulateurIcon {
    width : 50%;
    display : flex;
    justify-content : space-around;
    align-items : center;
    padding-left : 2%;
    padding-right : 2%;
}

.Homepage .contract {
    width: 75px;
    height: 75px;    
}

.Homepage .money2 {
    width: 75px;
    height: 75px;
}

.Homepage .calendar {
    width: 75px;
    height: 75px;
}




