.simFormParent {
  display: flex;
  flex-direction: column;
  background: #e2e5ed;
  box-sizing: border-box;

  height: 1000px; /* just for test */
}

.simFormParent h2 {
  margin-top: 5%;
  font-size: 45px;
  color: #2e3858;
  margin-left: 5%;
}

/*Form*/

.simForm {
  border: solid black 3px;
  padding: 3%;
  background-color: #ffffff;
  border: dotted hsl(224, 14%, 47%) 1px;
  border-radius: 20px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
  margin: 5%;
  font-size: 20px;
}

.simFormNumberInput {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3%;
}

.simForm input {
  width: 50px;
  background-color: #e2e5ed;
}

.simFormReturn {
  text-align: right;
  color: #687189;
  font-family: 'Roboto', sans-serif;
  font-style: italic;
}

.simFormReturn:hover {
  opacity: 0.7;
}

.error1 {
  color: #ee5e6a;
  font-style: italic;
}

/* Add queries for < 750px width */
@media screen and (min-width: 200px) and (max-width: 750px) {
  .simFormParent h2 {
    font-size: 30px;
    text-align: center;
  }

  .simFormParent {
    font-size: 30px;
  }

  .simForm .question1,
  .question2,
  .question3,
  .radio {
    font-size: 18px;
  }
}
