.error1 {
  color: #ee5e6a;
  font-style: italic;
}

.simFormHypothesis {
  font-size : 0.8rem;
}

.simForm-Button {
  margin-top : 3%;
  background-color : #EE5E6A;
  border : none;
}

.simForm-parent h2 {
  text-align : center;
  margin-top : 5%;
  margin-bottom : 5%;
}

.table-responsive {
  background: rgb(230, 230, 230);
  overflow-x: unset;
  margin-top: -2em;
}

.collapse_display {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  margin-bottom: 1em;
}